; Default configuration file - can be overridden via -c command line option
{
  :symphony-coords {
    :session-auth-url #env SESSIONAUTH_URL
    :key-auth-url     #env KEYAUTH_URL
    :agent-api-url    #env AGENT_URL
    :pod-api-url      #env POD_URL

    :trust-store [#env TRUSTSTORE_FILE #env TRUSTSTORE_PASSWORD]
    :user-cert   [#env BOT_USER_CERT_FILE #env BOT_USER_CERT_PASSWORD]

    :user-email  #env BOT_USER_EMAIL
  }

  ; For details, see https://github.com/rhuss/jolokia/blob/master/agent/jvm/src/main/resources/default-jolokia-agent.properties
  :jolokia-config {
    "host" "localhost"
    "port" "8778"
  }

  :url-blacklist ["https://drive.google.com/" "https://docs.google.com/"]
}
