{
    {:session-auth-url #env SESSIONAUTH_URL}
    {:key-auth-url     #env KEYAUTH_URL}
    {:agent-api-url    #env KEYAUTH_URL}
    {:pod-api-url      #env POD_URL}

    :trust-store [{:truststore-file #env TRUSTSTORE_FILE} {:truststore-pwd #env TRUSTSTORE_PASSWORD}]
    :user-cert   [{:user-cert-file #env BOT_USER_CERT_FILE} {:user-cert-pwd #env BOT_USER_CERT_PASSWORD}]
    {:user-email  #env BOT_USER_EMAIL}
  }

  :url-blacklist ["https://drive.google.com/" "https://docs.google.com/"]

  ; For details, see https://github.com/rhuss/jolokia/blob/master/agent/jvm/src/main/resources/default-jolokia-agent.properties
  ; Note: All keys and values MUST be strings - this is a Jolokia requirement
  :jolokia-config {
;    "host" "localhost"
;    "port" "8778"
  }

;  :http-proxy ["proxy.acme.com" 80]
}