{
  :symphony-coords {
    :session-auth-url #env SESSIONAUTH_URL
    :key-auth-url     #env KEYAUTH_URL
    :agent-api-url    #env AGENT_URL
    :pod-api-url      #env POD_URL

    :trust-store [#env TRUSTSTORE_FILE #env TRUSTSTORE_PASSWORD]
    :user-cert   [#env BOT_USER_CERT_FILE #env BOT_USER_CERT_PASSWORD]

    :user-email  #env BOT_USER_EMAIL
  }

  :url-blacklist ["https://drive.google.com/" "https://docs.google.com/"]
}
