{
  :symphony-coords {
    :pod-id      "acme"
; OR
;    :session-auth-url "https://acme-api.symphony.com/sessionauth"
;    :key-auth-url     "https://acme-api.symphony.com/keyauth"
;    :agent-api-url    "https://acme-api.symphony.com/agent"
;    :pod-api-url      "https://acme-api.symphony.com/pod"

    :trust-store ["/etc/opt/bot-unfurl/certs/server.truststore" "changeit"]
    :user-cert   ["/etc/opt/bot-unfurl/certs/bot-unfurl.p12"    "changeit"]
    :user-email  "bot-unfurl@acme.com"
  }

  :url-blacklist ["https://drive.google.com/" "https://docs.google.com/"]

  ; For details, see https://github.com/rhuss/jolokia/blob/master/agent/jvm/src/main/resources/default-jolokia-agent.properties
  :jolokia-config {
    "host" "localhost"
    "port" "8778"
  }

;  :http-proxy ["proxy.acme.com" 80]
}
